.container {
  margin-inline: auto;
  margin-top: 140px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 1640px;
  height: 244px;
  border-top: 1px solid rgb(196, 196, 196);

  .container2 {
    width: 1062px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;

    .link {
      height: 28px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      flex-shrink: 0;

      a {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;

        &:hover {
          border-bottom: 4px solid rgb(99, 69, 181);
          border-radius: 2px;
        }
      }
    }
    .telephone {
      width: 326px;
      height: 900px;
      display: flex;
      flex-direction: row;
      gap: 17.6px;
      align-items: center;
      justify-content: center;

      .phone {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;
        width: 185px;
      }

      a {
        width: 20.9px;
        display: flex;
        align-items: center;
        img {
          width: 19.2px;
          height: 19.2px;
          transition: all 275ms ease;

          &:hover {
            width: 20.9px;
            height: 20.9px;
            rotate: 10deg;
          }
        }
      }
    }
  }
  .payment {
    width: 146px;
    height: 34px;
    display: flex;
    gap: 30px;
    flex-direction: row;

    & > img {
      width: 60px;
      height: 30px;
    }

    img {
      width: 56px;
      height: 34px;
    }
  }
}
