@font-face {
  font-family: "GilroySemibold";
  src: url("./fonts/gilroy-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  font-family: "GilroySemibold";
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
